h1 {
    padding: 14px 0 0 27px;
    color: #000;
    font-size: 19px;
    text-transform: uppercase!important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.row{
    display: flex;
    justify-content: space-between;
}