ul {
  display: flex;
  li{
    margin-right: 30px;
    padding: 5px;
  }
  :hover {
    color:  red;
  }
  
}
.content-top {
  display: flex;
  justify-content: space-between;
  .active{
    background: #eaeaea;
    border-radius: 15px;
  }
}
.header-list{
  background: #ccc;
  border-radius: 10px;
 
}