input {
  display: flex;
  padding: 0px 10px;
  margin: 10px auto;
  width: 90%;
  height: 30px;
  border: 1px solid #c5b7b7 ;
  border-radius:10px;
}


.sort {
  border-bottom: solid #eaeaea 1px;
  position: relative;
}

.searchBtn {
  border-radius: 10px;
  height: 30px;
  font-size: 18px;
  margin: 10px 10px;
  
}
.searchBtn:hover{
  background: #eaeaea ;
}
.clearIcon {
  position: absolute;
  width: 14px;
  height: 14px;
  top:10px;
  right: 50px;
  opacity: 0.4;
}