input {
  display: flex;
  margin: 10px auto;
  width: 90%;
  height: 30px;
  border: 1px solid #c5b7b7;
}
.sort {
  border-bottom: solid #eaeaea 1px;
}

.searchBtn {
  border-radius: 10px;
  height: 30px;
  font-size: 18px;
  margin: 10px 10px;
  
}
.searchBtn:hover{
  background: #eaeaea ;
}
